<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <h1>COMPREHENSIVE COMPENDIUM</h1>

    <a href="/users">Home</a>
    <br/>
    <a href="/components">Components</a>
    {{{ body }}}
  </body>
</html>