<p>Create a <a href="/users/new">new user</a>.</p>

<ul>
  {{#each users}}
    <li>{{username}}</li>
    <li>{{password}}</li>
    <li><a href="/users/{{id}}">View Me</a></li>
    <br/>
  {{/each}}
</ul>
